<div>
    <!--<h2 translate="dxesoftApp.contactos.home.title">Contaccccct</h2>-->
    <div class="row">
        <div id="contact-list" class="col-xs-18 col-md-4 panel panel-default">
            <div class="form-group search-contact panel-heading">
                <form role="search">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Search contacts">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary">
                                <span class="fa fa-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
                <div id="add-contact">
                    <button class="btn btn-primary">
                        <span style="border-right: 10px">Add contact</span> <i class="fa fa-plus-circle" style="font-size: 18px"></i>
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <div class="contact-list-element" ng-repeat="contact in contacts" ng-click="setSelected(contact)" ng-class="{active: isActive(contact)}" style="display:block">
                    <img class="img-circle img-responsive width-1 height-1 float-left" src="assets/images/profile.png">
                    <div class="contact-list-info">
                        <div class="contact-list-name" >
                            <span>{{contact.nombres}}</span><span ng-show="contact.apellidoPaterno" style="padding-left: 5px">{{contact.apellidoPaterno }}</span><span ng-show="contact.apellidoMaterno" style="padding-left: 5px">{{contact.apellidoMaterno}}</span>
                        </div>
                        <div class="contact-list-contact-info" >
                            <span ng-show="contact.phoneNumber"><i class="fa fa-mobile icon-close-to-text"></i>{{contact.phoneNumber}}</span>
                            <span ng-show="contact.email" style="padding-left:10px"><i class="fa fa-envelope-o icon-close-to-text"></i>{{contact.email}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <nav>
                    <ul class="pager">
                        <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                        <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                        <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                        <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="contact-detail" class="col-xs-18 col-md-8" ui-view="detail">

        </div>
    </div>
</div>
