<div>
    <h2 translate="dxesoftApp.contactos.home.title">Contaccccct</h2>
    <div class="row">
        <div id="contact-list" class="col-xs-6 col-md-4" style="background-color: red">
            .col-xs-6 .col-md-4
            <div class="form-group" style="background-color: #006600">
                Aqui va la busqueda
            </div>
            <div class="container-fluid" style="background-color: #e1e100">
                <ul>
                    <li ui-sref-active="selected" ng-repeat="contact in contacts">
                        <a ui-sref="detail({id: contact.id})">{{contact.nombres}}</a>
                    </li>
                </ul>
            </div>
            <nav>
                <ul class="pager">
                    <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                    <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                    <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                    <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
                </ul>
            </nav>
        </div>
        <div id="contact-detail" class="col-xs-12 col-md-8" style="background-color: green">
            <!--.col-xs-12 .col-md-8 muchos mil usos llegan diariamente para aca, ya no cabemos, ya no cabemos, ahií en su pueblo vivia como jefe sobrevivia con facilida, aqui en el df trabaja como negro y no le alcanza ni pa tragar-->
            <div class="detail" ui-view="detail">

            </div>
        </div>
    </div>
</div>
