<div ng-show="contactSelected" class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-2 col-md-2">
            <img class="img-circle img-responsive width-2 height-2" src="assets/images/profile.png">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8" style="overflow: auto">
            <h1 class="no-margin">
                <span>{{contactSelected.nombres}}</span><span class="text_spacer" ng-show="contactSelected.apellidoPaterno">{{contactSelected.apellidoPaterno }}</span><span class="text_spacer" ng-show="contactSelected.apellidoMaterno">{{contactSelected.apellidoMaterno}}</span>
            </h1>
            <h4>
                <span>{{contactSelected.company}}</span>
            </h4>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <button type="button" class="btn btn-primary btn-regular" ng-click="edit()"><span translate="entity.action.edit"></span></button>
            <button type="button" class="btn btn-danger btn-regular"><span translate="entity.action.delete"></span></button>
        </div>
    </div>
    <div class="row vertical-spacer">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <dl class="dl-horizontal dl-icon">
                <dt>
                    <i class="fa fa-mobile-phone fa-lg fa-fw"></i>
                </dt>
                <dd>
                    <span translate="dxesoftApp.contactos.phone">Phone</span>
                </dd>
                <dd ng-repeat="phone in contactSelected.phoneList">
                    {{phone.phoneNumber}}
                </dd>
            </dl>
            <dl class="dl-horizontal dl-icon">
                <dt>
                    <i class="fa fa-envelope-o fa-lg fa-fw"></i>
                </dt>
                <dd>
                    <span translate="dxesoftApp.contactos.email">Email</span>
                </dd>
                <dd ng-repeat="email in contactSelected.emailList">
                    {{email.email}}
                </dd>
            </dl>
            <dl class="dl-horizontal dl-icon">
                <dt>
                    <i class="fa fa-map-marker fa-lg fa-fw"></i>
                </dt>
                <dd>
                    <span translate="dxesoftApp.contactos.address.title">Address</span>
                </dd>
                <dd ng-repeat="address in contactSelected.addressList">
                    {{address.street}}
                </dd>
            </dl>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <dl class="dl-horizontal dl-icon">
                <dt>
                    <i class="fa fa-birthday-cake fa-lg fa-fw"></i>
                </dt>
                <dd>
                    <span translate="dxesoftApp.contactos.birthDate">birthDate</span>
                </dd>
                <dd>
                    {{contactSelected.birthDate}}
                </dd>
            </dl>
            <dl class="dl-horizontal dl-icon">
                <dt>
                    <i class="fa fa-briefcase fa-lg fa-fw"></i>
                </dt>
                <dd>
                    <span translate="dxesoftApp.contactos.title">Title</span>
                </dd>
                <dd>
                    {{contactSelected.title}}
                </dd>
            </dl>
        </div>
    </div>

</div>
