$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
    background: #F1F2F6;    ///VERDE MULTIPLE OPCION CUATRO
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777777;         ///VERDE MULTIPLE OPCION CUATRO
    font-size: 12px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

//.development {
//    position: absolute;
//    width: 149px;
//    height: 149px;
//    top: 0;
//    left: 0;
//    border: 0;
//    z-index: 1000;
//    background-image: url("../images/development_ribbon.png");
//    background-position: center center;
//    background-repeat: no-repeat;
//}

.navbar-version {
    font-size: 10px;
    color: #21272d
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* make sure browsers use the pointer cursor for anchors, even with no href */
a:hover {
  cursor: pointer;
}


/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */


/* CSS used here will be applied after bootstrap.css */

.nav-container {
    font-size: 12px;
    width: 100%;
    display: none;
    color: $stacked-menu-color;
}

.nav-stacked {
    > li {
        > a {
            > div {

                > i {
                    position: absolute;
                    left: 15px;
                    right: auto;
                    padding-top: 3px;

                    &.fa-chevron-down {
                        position: absolute;
                        left: auto;
                        right : 15px;
                        font-size: 17px;
                        padding-top: 0px;
                    }
                }
            }
        }
    }

}

.side-menu-div {
    height: 100%;
    border-radius: 0;
    border: none;
    width: 270px;
    background-color: $sidemenudiv-background-default;
    color: $stacked-menu-color;
    overflow-y: auto;
    position: fixed;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 12px;

    > ul {
        > li {
            border-bottom: $stacked-menu-bottom-border;
            > a {
                padding-left: $nav-sidemenu-link-padding-left;

                &:hover,
                &:focus {
                    text-decoration: none;
                    background-color: $stacked-menu-background-color-hover;
                    color: $stacked-menu-color-hover;
                }
            }
        }
    }
}

.main-content  {
    margin-left: $main-content-margin-left;
    padding-top: 1px;
    margin-top: 5px;
}

.main-view-container {
    padding-left: 0;
    padding-top: $main-view-container-padding-top;
}


@media (max-width: $grid-float-breakpoint-max) {
    .main-content {
        margin: 0px !important;
    }

    .side-menu-div {
        margin: 0px !important;
        height: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: 1001;
    }

    .navbar-header{
        width: $grid-float-breakpoint-max;
    }

}

.side-menu-div {
    @media (min-width: $grid-float-breakpoint) {
        &.collapse {
            height: 100% !important;
        }
    }
}

#stacked-menu{
    padding-top: 3px;
    background: $stacked-menu-bacground-color
}

.navbar {
    > .container {
        padding-left: 0px;
    }
}

.navbar-header{
    width: 270px;
    background-color: #26494B;

    &:after {
        clear: none;
    }
}

.navbar-collapse .side-menu-div{
    padding-right: 0px;
    padding-left: 0px;
}

/**
 * Submenu
 -----------------------------*/
.submenu {
    display: none;
    background-color: $submenu-background-color;
    font-size: 12px;

    > li {
        border-bottom: $submenu-bottom-border;

        > a {
            padding: $nav-submenu-link-padding;
            color: $submenu-color;
            //            color: #253939;
            text-decoration: none;
            -webkit-transition: all 0.25s ease;
            -o-transition: all 0.25s ease;
            transition: all 0.25s ease;

            &:hover,
            &:focus {
                text-decoration: none;
                background-color: $submenu-background-hover;
                color: $submenu-color-hover;
            }
        }

        &.submenu-active {
            > a {
                background-color: $submenu-active-background-color;
                color: $submenu-color-active;
            }
        }
    }
}

.submenu-active {
    background-color: $submenu-active-background-color;
    //    background-color: $sidemenu-background-color-hover;
    color: $submenu-color-active;
}

.main-menu-active {
    background-color: $stacked-menu-background-color-hover;
    color: #FFF;;
}

.navbar-brand {
    padding-left: 20px;
}

#contact-detail {
    padding-top: $container-padding-top;
    float:right;
}

#contact-list {
    background-color: $contact-list-bg-color;
    padding-left: 0;
    padding-right: 0;
    color: $contact-list-color;
    border-radius: 0;
    float:left;

    > div {

        &.form-group.search-contact.panel-heading {
            background-color: inherit;
            border: none;
        }

        &.panel-body {
            height: $contact-list-panel-height;
            overflow-y: auto;
            padding-left: 0;
            padding-right: 0;

            > div {
                &.contact-list-element {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    overflow: auto;
                    border-bottom: $contact-list-element-border;
                    padding-left: 15px;

                    &:nth-child(odd):hover {
                        cursor: pointer;
                        border-left: $contact-list-element-hover-odd;
                        padding-left: 10px;
                    }

                    &:nth-child(even):hover {
                        cursor: pointer;
                        border-left: $contact-list-element-hover-even;
                        padding-left: 10px;
                    }

                    > div {
                        &.contact-list-info {
                            padding-left: 48px;

                            > div {

                                &.contact-list-name {
                                    padding: 0 0 5px 0;
                                    font-weight: 700;
                                }

                                &.contact-list-contact-info {
                                    padding-left: 10px;
                                }
                            }
                        }
                    }

                    &.active{
                        &:nth-child(even) {
                            border-left: $contact-list-element-hover-even;
                            padding-left: 10px;
                        }

                        &:nth-child(odd) {
                            border-left: $contact-list-element-hover-odd;
                            padding-left: 10px;
                        }

                    }
                }
            }
        }

        &.panel-footer {
            background-color: #8CC152;
        }
    }
}

.search-contact {
    padding: 10px;
}

.img-circle{
    border-radius: 50%;
}

.width-1 {
    width: 40px;
}

.height-1{
    height: 40px;
}

.width-2 {
    width: 80px;
}

.height-2{
    height: 80px;
}

.icon-close-to-text {
    padding-right: 4px;
}

.float-left {
    float: left;
}



/********************************************************************************************************************************************************/

.contact-header {
    overflow: auto;
    padding-left: 0;
}

.width-3 {
    width: 120px;
}

.no-margin {
    margin: 0;
}

//be careful with this magical number
@media (max-width: 1399px) {
    .dl-horizontal {
        &.dl-icon {
            > dt {
                width: 30px;
                text-align: left;
                padding-top: 5px;
            }

            > dd {
                margin-left: 30px;
            }
        }
    }
}

@media (max-width: $grid-float-breakpoint-max) {
    .dl-horizontal {
        &.dl-icon {
            > dd {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: $screen-md-min){
    #contact-detail {
        float: left;
        width: 100%;
    }
}

/*****************************************************************************************************************************************/

[class$="-primary"],
[class*="-primary "] {
    background-color: $navbar-default-bg;
    border-color: $navbar-default-border;
}

.btn {
    &-primary {
        @include button-variant($btn-primary-color, $navbar-default-bg, $navbar-default-border);
    }

    &-regular {
        min-width: 70px;
    }
}

#add-contact {
    text-align: center;
    padding-top: 15px;
}

